body {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  background-color: darkseagreen;
}

.contactForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.contactForm input {
  font-size: 20px;
  width: 30%;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: lightsteelblue
}
.contactForm input:focus{
  background-color: lightgreen;
  color: black;
  border: 2px solid green;
}
.contactForm button {
  font-size: 20px;
  border: 2px solid black;
  border-radius: 10px;
}
.contactForm button:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
  transition: 0.5s;
}

.contactList {
  padding: 0;
  margin: 0 auto;
  
  padding: 10px 100px;
  width: 60%;
  background-color: cadetblue;
}
.contactItem {
  margin: 25px 0;
  background-color: lightcyan;
  padding: 20px 0px;
  border: 2px solid black;
  border-radius: 8px;
}
.contactItem img {
  height: 100px;
}
.contactItem p {
  font-size: 18px;
  font-weight: bold;
  
}
.contactItem a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  
}